.forminput input {
    padding: 7px 20px;
    margin: 10px;
    width: 100%;
    height: 60px;
    font-size: 16px;
    color: #7A889C;
    letter-spacing: 0px;
    background: #FFFFFF;
    border: 1px solid #C1CAD7;
    border-radius: 100px;
}
