.signup { /* stylelint-disable */

}
.formWrap {
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
}

.why {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #267DF3;
    line-height: 30px;
}
.begin {
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    color: #4A4A4A;
}
.first {
    text-align: center;
    font-weight: 100;
    font-size: 15px;
    color: #7A889C;
    line-height: 35px;
}
.head {
    text-align: center;
    font-size: 40px;
    color: #4A4A4A;
}

.subHead {
    font-size: 20px;
    color: #7A889C;
    line-height: 30px;
    width: 50%;
    max-width: 750px;
    margin: 20px auto;
    text-align: center;
    font-weight: 100;
}
.subHeadLink {
    color: #6FC754;
    display: inline;
}
