.footer { /* stylelint-disable */
    background: #F9F9F9;
    border: 1px solid #F7F7F7;
    position: relative;
    bottom: 0;
    left: 0;
    height: 10em;
}
.outer {
    margin: 0 auto;
}
.inner {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    float: left;
    overflow: auto;
}
.liel {
    width: 33%;
    float: right;
    text-align: center;
}

.txt {
    font-size: 18px;
    color: #267DF3;
    line-height: 30px;
    display: inline;
    margin-left: 10px;
}
