/* What is Bloom Credit: */
.card {
    width: calc(50% - 40px);
    height: calc(50% - 40px);
    display: inline-block;
}
.card:nth-child(odd) {
    float: left;
}

.imageL {
    float: left;
}

.imageR {
    float: right;
}

.card:nth-child(even) {
    float: right;
}

.heading {
    display: inline-block;
    width: 100%;
    font-size: 30px;
    color: #4A4A4A;
}
.body {
    font-size: 20px;
    color: #7A889C;
    line-height: 35px;
}
.heading:nth-child(odd) {
    text-align: left;
}
.heading:nth-child(even) {
    text-align: right;
}

.body:nth-child(odd) {
    text-align: right;
}

.body:nth-child(even) {
    text-align: left;
}

