.dash {
    text-align: center;
}
.dashImg {
    width: 70%;
    height: auto;
}

.header {
    font-size: 30px;
    color: #4A4A4A;
    text-align: center;
}

.txt {
    font-size: 20px;
    color: #7A889C;
    margin: 0 auto;
    line-height: 2;
    text-align: center;
    display: block;
    width: 600px;
}

.solutionHead{
    text-align: center;
    font-size: 30px;
    color: #267DF3;
}

.contact {
    text-align: center;
    margin: 20px auto;
}
.lnk {
    font-size: 20px;
    color: #267DF3;
    line-height: 35px;
}
.solutionBanner{
    background: rgba(38,125,243,0.08);
    border-radius: 100px;
    font-size: 13px;
    color: #267DF3;
    letter-spacing: 3px;
    width: 300px;
    text-align: center;
    margin: 30px auto;
    text-transform: uppercase;
    font-weight: 100;
}
