.header {
    position: relative;
    display: block;
    height: 8em;
    width:100%;
    text-align: center;
    text-decoration: none;
    padding-bottom:15%;
    background: linear-gradient(to bottom,lightgrey,white) ;
}


.logo {
    position: relative;
    top: 15px;
    left: 40px;
    width: 227px;
    height: 47px;
    float: left;
    cursor: pointer;

}

.headerLi {
    float: left;
    padding-right: 10px;
}

.headerNav {
    float: right;
    list-style-type: none;
    font-size: 15px;
    color: #267DF3;
}

.headerAvatar {
    padding-right: 15px;
    float: right;
    color: #7A889C;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 15px;
}

.headerRight {
    margin-top: 20px;
    width: calc(100% - 227px);
    float: right;
    height: initial;
}

.username {
    font-size: 15px;
    display: inline;

    color: #267DF3;
    &:before{
        content: "Hi, ";
        color: #7A889C;
    }
}
