.wrapper {
    width: 800px;
    margin: 30px auto;
}

.head {
    font-size: 30px;
    color: #4A4A4A;
    text-align: center;
}
.subhead {
    font-size: 16px;
    text-align: center;
    display: block;
    position: relative;
    color: #7A889C;
    line-height: 35px;
}
