.product {
    width: 800px;
}

.productName {
    font-size: 25px;
    color: #267DF3;
    text-align: center;
    margin-bottom: 30px;
}
.feature{
    display: block;
}
.feature::before {
    position: relative;
    display: block;
}

.feature img {
    margin-right: 10px;
    float: left;
}

.featureList {
    margin-top: 80px;
    float: right;
}
.productImg {
    float: left;
    margin: 70px 60px;
}
