.headr {
    font-size: 40px;
    color: #4A4A4A;
    text-align: center;
    font-weight: 200;
}
.blueOuter {
    margin: 40px auto;
    width: 80%;
    padding: 10px;
}

.greenOuter {
    margin: 0 auto;
    width: 80%;
    padding: 10px;
}
.green {
    display: inline-block;
    float: right;
    width: 100%;
    margin: 0 auto;
}

.msg {
    text-align: center;
    font-size: 30px;
    display: block;
    margin: 50px 0;
    color: #4A4A4A;
}
.footMsg {
    position: relative;
    display: block;
    width: 100%;
    float: left;
}
.subheader {
    font-size: 20px;
    color: #7A889C;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    font-weight: 100;
    max-width: 33em;
}

.subwelcome {
    text-align: center;
}
.swelcome {
    font-size: 13px;
    text-transform: uppercase;
    color: #B5BCC6;
    letter-spacing: 5px;
}
.sname {
    font-size: 30px;
    color: #4A4A4A;
}
