
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button, div, nav, header, span, h1, a, h2, h3, p, li {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;

  font: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
  display: block;
  vertical-align: inherit;
  box-sizing: inherit;

  background: transparent;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

hr {
    width: 80%;
    margin: 0 auto;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
