.buttonWrapper {
  width: 100%;
  text-align: center;
  margin: 4em 0;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 1.25em 2em;
  margin: 0;
  text-decoration: none;
  border-radius: 100px;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 150;
  font-size: 18px;
  color: #FFFFFF;
  background: #267DF3;
}

.button:active {
  background: #41ADDD;
  color: #FFF;
}

