.card {
    float: left;
    width: 40%;
    height: 40%;
    margin: 5%;
}

.heading {
    font-size: 25px;
    color: #4A4A4A;
}

.body {
    font-size: 20px;
    color: #7A889C;
    line-height: 30px;
    max-width: 350px;
}
